name: Make TWRP Device

on:
  workflow_dispatch:
    inputs:
      IMG_URL:    
        description: 'IMG_URL'
        required: true
        default: ''
      PROP_URL:
        description: 'PROP_URL (build.prop 文件地址)'
        required: true
        default: ''

jobs:
  build:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: self-hosted
    
    steps:
    - name: Check Out
      uses: actions/checkout@main
      
    - name: Prepare the environment
      run: |
        sudo apt update
        sudo apt -y install python3 python3-pip cpio wget aria2
        pip3 install twrpdtgen
        mkdir dt
      
    - name: Download boot/recovery img and build.prop
      run: |
        aria2c "${{ github.event.inputs.IMG_URL }}"
        aria2c "${{ github.event.inputs.PROP_URL }}"
      
    - name: Start build
      run: |
        if [ -f "boot.img" ]; then
          python3 -m twrpdtgen boot.img -o dt/ --prop build.prop
        elif [ -f "recovery.img" ]; then
          python3 -m twrpdtgen recovery.img -o dt/ --prop build.prop
        else
          echo "No boot.img or recovery.img found."
          exit 1
        fi
      
    - name: ZIP device tree
      run: |
        zip -r DeviceTree.zip ./dt
      
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ./DeviceTree.zip
        name: TWRP_Device_Tree-${{ github.run_id }}
        tag_name: ${{ github.run_id }}
        body: DeviceTree for twrp
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
