name: Make TWRP Device

on:
  workflow_dispatch:
    inputs:
      IMG_URL:    
        description: 'IMG_URL'
        required: true
        default: ''

jobs:
  build:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: self-hosted    
    steps:
    - name: Check Out
      uses: actions/checkout@main
      
    - name: Prepare the environment
      run: |
        sudo apt update
        sudo apt -y install python3 python3-pip cpio wget
        pip3 install twrpdtgen
        mkdir dt
      
    - name: Download boot or recovery img
      run: |
        aria2c "${{ github.event.inputs.IMG_URL }}"
      
    - name: Start build
      run: |
        if [ -f "boot.img" ]; then
         CODENAME="lito"
	 MANUFACTURER="oppo"

	 echo "开始检测并补齐 build.prop..."
	 for f in $(find dt -name build.prop); do
	  if ! grep -q "ro.product.system.device" "$f"; then
    	 echo "ro.product.system.device=$CODENAME" >> "$f"
    	 echo "ro.product.device=$CODENAME" >> "$f"
    	 echo "ro.build.product=$CODENAME" >> "$f"
    	 echo "ro.product.vendor.device=$CODENAME" >> "$f"

    	 echo "ro.product.system.manufacturer=$MANUFACTURER" >> "$f"
    	 echo "ro.product.manufacturer=$MANUFACTURER" >> "$f"
    	 echo "ro.product.vendor.manufacturer=$MANUFACTURER" >> "$f"

	 echo "ro.product.model=$CODENAME" >> "$f"
    	 echo "ro.product.name=$CODENAME" >> "$f"

    	 echo "已补齐最小化 build.prop 属性到 $f"
  	 else
    	 echo "$f 已包含 ro.product.system.device"
  	fi
	  done
	  echo "✅ build.prop 补丁完成"
          python3 -m twrpdtgen boot.img -o dt/
        elif [ -f "recovery.img" ]; then
           CODENAME="lito"
           MANUFACTURER="oppo"
          echo "开始检测并补齐 build.prop..."
          for f in $(find dt -name build.prop); do
          if ! grep -q "ro.product.system.device" "$f"; then
   	  echo "ro.product.system.device=$CODENAME" >> "$f"
    	  echo "ro.product.device=$CODENAME" >> "$f"
    	  echo "ro.build.product=$CODENAME" >> "$f"
    	  echo "ro.product.vendor.device=$CODENAME" >> "$f"

    	  echo "ro.product.system.manufacturer=$MANUFACTURER" >> "$f"
    	  echo "ro.product.manufacturer=$MANUFACTURER" >> "$f"
    	  echo "ro.product.vendor.manufacturer=$MANUFACTURER" >> "$f"

    	  echo "ro.product.model=$CODENAME" >> "$f"
    	  echo "ro.product.name=$CODENAME" >> "$f"

    	  echo "已补齐最小化 build.prop 属性到 $f"
  	  else
    	  echo "$f 已包含 ro.product.system.device"
  	  fi
	  done
	  echo "✅ build.prop 补丁完成"
          python3 -m twrpdtgen recovery.img -o dt/
        else
          echo "No boot.img or recovery.img found."
          exit 1
        fi
      
    - name: ZIP device tree
      run: |
        zip -r DeviceTree.zip ./dt
      
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ./DeviceTree.zip
        name: TWRP_Device_Tree-${{ github.run_id }}
        tag_name: ${{ github.run_id }}
        body: DeviceTree for twrp
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}